@font-face {
    font-family: 'Jost';
    src: url('/public/fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jost-Light';
    src: url('/public/fonts/Jost-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    scroll-behavior: smooth;
}

.full-container {
    background-color: #fff;
    position: absolute;
    z-index: 0;
}

h2, p {
    color: #151515;
}

span {
    color: #f4bd0a;
}

@media screen and (min-width: 600px) {
    .full-container {
        position: relative;
        width: 100vw !important;
        background: linear-gradient(to right, #f4bd0a 50%, #fff 50%) !important;
    }

    header nav {
        width: calc(100vw - 20px);
        margin: 0;
        border-radius: 0;
    }
    
    .section-hero {
        height: 550px;
    }
    .section-hero .microbus-img {
        position: absolute;
        margin-top: 0;
        margin-left: 47%;
        transform: translateX(-50%);
        width: 700px;
    }
    .section-hero .cuba-img {
        position: absolute;
        margin-top: 0px;
        margin-left: 70%;
        width: 340px;
    }
    .subtitulo-hero {
        font-size: 80px !important;
        font-weight: 600 !important;
        margin-top: 0 !important;
        margin-left: 8% !important;
        color: #151515 !important;
        line-height: 1.1;
    }
    .section-hero section {
        margin-left: 35%;
        margin-top: 10%;
    }
}

/* RESPONSIVE TEMPORAL */
@media screen and (min-width: 431px) and (max-width: 599px) {
    .full-container {
        position: relative;
        width: 430px !important;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    header {
        width: 430px !important;
    }
    header nav {
        width: calc(368px) !important;
        margin: 19.9625px !important;
    }
    header ul {
        right: 50% !important;
        transform: translateX(50%);
    }

    section {
        width: 430px !important;
    }
    section section {
        width: calc(430px - 8%) !important;
    }

    .quest {
        margin-left: 0 !important;
        transform: translateX(0) !important;
    }

    .section-cifras {
        width: calc(430px - 16%) !important;
    }
    .section-cifras div {
        width: auto !important;
        margin-left: 0;
        transform: translateX(0);
    }

    .section-viajes {
        place-content: center;
    }
    .infoBox {
        width: 410px !important;
    }
    .infoBox div {
        width: 100% !important;
    }
    .infoBox div:hover {
        transform: scale(1.03) !important;
    }

    footer {
        width: 430px !important;
    }
}