@font-face {
    font-family: 'Jost';
    src: url('/public/fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jost-Light';
    src: url('/public/fonts/Jost-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    scroll-behavior: smooth;
}

.full-container {
    background-color: #fff;
    position: absolute;
    z-index: 0;
}

h2, p {
    color: #151515;
}

span {
    color: #f4bd0a;
}

@media screen and (min-width: 600px) {
    .full-container {
        position: relative;
        width: 100vw !important;
        background: linear-gradient(to right, #f4bd0a 50%, #fff 50%) !important;
    }

    header nav {
        width: calc(100% - 20px);
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    
    .section-hero {
        height: 550px;
    }
    .section-hero .microbus-img {
        position: absolute;
        margin-top: 0;
        margin-left: 47%;
        transform: translateX(-50%);
        width: 700px;
    }
    .section-hero .cuba-img {
        position: absolute;
        margin-top: 0px;
        margin-left: 70%;
        width: 340px;
    }
    .subtitulo-hero {
        font-size: 80px !important;
        font-weight: 600 !important;
        margin-top: 0 !important;
        margin-left: 8% !important;
        color: #151515 !important;
        line-height: 1.1;
    }
    .section-hero section {
        margin: 10% 0 0 68%;
        width: 400px;
    }

    .section-about {
        flex-direction: row;
        padding: 80px 4% 80px !important;
        width: calc(92%);
    }
    .section-about .about-text {
        width: 40%;
    }
    .section-about h2::after {
        top: 60px !important;
    }
    .section-about h3 {
        margin-top: 0 !important;
    }
    .section-about .about-img {
        width: 60%;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
    }
    .section-about .about-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .section-about h2 {
        padding: 0 !important;
    }

    .section-vehiculo {
        flex-direction: row !important;
        gap: 0 !important;
        border-top: 1px solid #ffffff99;
        padding-top: 35px;
        width: 100%;
    }
    .section-vehiculo h3 {
        margin-top: -15px !important;
    }
    .section-vehiculo .bento {
        margin: 4% 20% !important;
    }
    .section-vehiculo ul {
        margin-right: 8%;
        padding: 2% 4%;
        width: auto;
        border-radius: 20px;
        border: 1px solid #ffffff55;
    }
    .section-vehiculo ul li {
        font-size: 35px;
    }

    .section-cifras {
        width: calc(30%) !important;
        padding: 2% 35% !important;
    }

    .section-viajes {
        padding: 0 4% 40px !important;
        width: calc(92%) !important;
    }

    .section-pagos {
        background-color: #fff !important;
        width: 100%;
    }
    .section-pagos p {
        text-align: center;
    }
    .article-moneda {
        padding: 1.5% 0 !important;
    }
}

/* RESPONSIVE TEMPORAL */
@media screen and (min-width: 431px) and (max-width: 599px) {
    .full-container {
        position: relative;
        width: 430px !important;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    header {
        width: 430px !important;
    }
    header nav {
        width: calc(368px) !important;
        margin: 19.9625px !important;
    }
    header ul {
        right: 50% !important;
        transform: translateX(50%);
    }

    section {
        width: 430px !important;
    }
    section section {
        width: calc(430px - 8%) !important;
    }

    .quest {
        margin-left: 0 !important;
        transform: translateX(0) !important;
    }

    .section-cifras {
        width: calc(430px - 16%) !important;
    }
    .section-cifras div {
        width: auto !important;
        margin-left: 0;
        transform: translateX(0);
    }

    .section-viajes {
        place-content: center;
    }
    .infoBox {
        width: 410px !important;
    }
    .infoBox div {
        width: 100% !important;
    }
    .infoBox div:hover {
        transform: scale(1.03) !important;
    }

    footer {
        width: 430px !important;
    }
}