@font-face {
    font-family: 'Jost';
    src: url('../public/fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    scroll-behavior: smooth;
}

h2, p {
    color: #151515;
}

span {
    color: #f4bd0a;
}

@media screen and (min-width: 431px) {
    div:first-child {
        position: relative;
        width: 430px !important;
    }

    header {
        width: 430px !important;
    }

    header nav {
        width: calc(368px) !important;
        margin: 19.9625px !important;
    }
    section {
        width: 430px !important;
    }
    section section {
        width: calc(430px - 8%) !important;
    }
    .section-cifras {
        width: calc(430px - 16%) !important;
    }
    footer {
        width: 430px !important;
    }
}